<footer id="footer" class="h-20 w-full flex justify-center bg-[#F7F4ED] border-t border-black">
  <div class="max-w-6xl h-full w-full flex justify-center items-center gap-8 px-8 text-[#75818B] text-xs">
    <a href="#" class="cursor-pointer" data-section="footer" data-value="help">Help</a>
    <a href="#" class="cursor-pointer" data-section="footer" data-value="status">Status</a>
    <a href="#" class="cursor-pointer" data-section="footer" data-value="about">About</a>
    <a href="#" class="cursor-pointer" data-section="footer" data-value="blog">Blog</a>
    <a href="#" class="cursor-pointer" data-section="footer" data-value="privacity">Privacity</a>
    <a href="#" class="cursor-pointer" data-section="footer" data-value="rules">Rules</a>
    <a href="#" class="cursor-pointer" data-section="footer" data-value="terms">Terms</a>
  </div>
</footer>