<footer id="footer" class="h-20 w-full flex justify-center bg-[#F7F4ED] border-t border-black">
  <div class="max-w-6xl h-full w-full flex justify-center items-center gap-8 px-8 text-[#75818B] text-xs">
    <a href="#" class="cursor-pointer">Help</a>
    <a href="#" class="cursor-pointer">Status</a>
    <a href="#" class="cursor-pointer">About</a>
    <a href="#" class="cursor-pointer">Blog</a>
    <a href="#" class="cursor-pointer">Privacity</a>
    <a href="#" class="cursor-pointer">Rules</a>
    <a href="#" class="cursor-pointer">Terms</a>
  </div>
</footer>