---
import { ClientRouter } from "astro:transitions";
import Navbar from "../components/Navbar.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<ClientRouter />
	</head>
	<body class="flex justify-center bg-[#172130]">
		<div class="mx-auto px-4 py-8 w-full flex flex-col justify-center">
			<Navbar />
			<main>
				<slot/>
			</main>
		</div>
		<script src="../utils/languages.js"></script>
	</body>
</html>

<style>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

</style>