---
import { ClientRouter } from "astro:transitions";
import Navbar from "../components/Navbar.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<ClientRouter />
	</head>
	<body class="flex justify-center bg-[#172130]">
		<main class="max-w-5xl mx-auto px-4 py-8 w-full">
			<Navbar />
			<slot />
		</main>
	</body>
</html>

<style>
	* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
</style>