---
import MainLayout from '../layouts/MainLayout.astro';

---

<MainLayout title="Challenge">
	
	<section id="challenge" class="max-w-6xl w-full h-full flex justify-center items-start">
		<div class="max-w-2xl max-h-80 h-full flex flex-col text-center justify-start gap-8 pt-8 px-8" transition:name="title-h1-section">
			<h1 class="font-bold text-[#172130] text-6xl" data-section="challenge" data-value="title" >NASA Space Apps Challenge</h1>
			<p class="text-[#172130] text-xl" data-section="challenge" data-value="paragraph">NASA Space Apps Challenge is a chaslmrfelwvj rwerverjk nfwerknkjfd vbdfgkvehrkjgn dgkdhgk.</p>
			<button class="text-white px-2 py-2 w-56 h-12 self-center text-center rounded-2xl bg-[#0C1421] hover:bg-[#1E2939] cursor-pointer" data-section="challenge" data-value="play-btn">Start Simulation</button>
		</div>
	</section>

</MainLayout>

<script type="module">
  	import { applyTranslation, getSavedLanguage } from '../src/utils/languages.js';
	
	let languageSaved = getSavedLanguage();

	console.log(languageSaved);

	applyTranslation(languageSaved);
</script>